@font-face {
    font-family: 'bpg-web';
    src: url('../fonts/bpg-web-001-webfont.ttf');
}

@font-face {
    font-family: 'bpg-web-caps';
    src: url('../fonts/bpg-web-001-caps-webfont.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'myriadpro';
    src: url('../fonts/MyriadPro-Regular.otf');
}